        <!-- Modal ajout -->
        <div class="modal fade" id="ajoutModal" tabindex="-1" role="dialog" aria-labelledby="ajoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-mg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ajoutModalLabel">Ajout d'un poste.</h5>
                    </div>
                    <div class="modal_nav">
                        <ul class="nav nav-tabs" id="addTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="add-name-tab" data-toggle="tab" href="#add-name" role="tab" aria-controls="add-name" aria-selected="true">Nom</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="add-machine-tab" data-toggle="tab" href="#add-machine" role="tab" aria-controls="add-machine" aria-selected="false">Machines</a>
                            </li>
                        </ul>
                    </div>   
                    {{ form_start(form, {'action': path('app_poste_new')})}}
                    <div class="modal-body">
                        <div class = "tab-content" id="addPosteName">
                            <div class ="tab-pane fade show active" id="add-name" role="tabpanel" aria-labelledby="add-name-tab">
                                <div class="row">
                                    {{ form_label(form.name)}}
                                    {{ form_widget(form.name)}}
                                </div>
                            </div>
                            <div class ="tab-pane fade show" id="add-machine" role="tabpanel" aria-labelledby="add-machine-tab">
                                <div class="row">
                                    <div id="machinePoste" data-prototype="{{ form_widget(form.qualifMachines.vars.prototype)|e('html_attr') }}">
                                        <div class="mb-4 align-items-center">
                                            {{ form_label(form.qualifMachines)}}
                                        </div>
                                        <span>
                                            {{ form_widget(form.qualifMachines)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                    {{ form_end(form)}}
                </div>
            </div>
        </div>